head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	//-meta(name="viewport", content="width=980")
	
	block title
		title Page

	block link
		link(type="text/css", rel="stylesheet", href="css/styles.css")
